# Port aplikasi (Railway akan mengisinya secara otomatis jika dikosongkan)
PORT=3000

# URL Koneksi PostgreSQL (Ambil dari dashboard Railway PostgreSQL)
DATABASE_URL=postgresql://USERNAME:PASSWORD@HOST:PORT/NAMA_DATABASE

# Password Rahasia untuk Panel Admin di dalam Web App
ADMIN_PASSWORD=RamaGanteng
